.wrapper {
  display: inline-block;
  font-size: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  line-height: inherit;
  cursor: help;

  &[popovertargetid] {
    cursor: help;
    padding: 0;
    margin: 0;
    width: fit-content;
  }

  &:active,
  &:focus,
  &:hover {
    background-color: transparent !important;
  }
}

[popover] {
  display: none;

  &:popover-open {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0.75rem 1rem;
    border-radius: calc(var(--border-radius-pill)/1.5);
    background-color: var(--color-background-accent-80);
    border-style: solid;
    border-width: 0.125rem;
    border-color: var(--color-background-accent-60);
    color: var(--color-reference-default-foreground);

    &:not([data-no-backdrop="true"])::backdrop {
      content: "";
      display: block;
      position: fixed;
      inset-block-start: 0;
      inset-inline-start: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-accent-opacity-30);
      backdrop-filter: blur(0.125rem);
    }
  }
}

[data-window-controls-overlay="visible"] {
  [popover] {
    &:popover-open {
      &:not([data-no-backdrop="true"])::backdrop {
        inset-block-start: env(titlebar-area-height, 5rem);
      }
    }
  }
}