.wrapper {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  border: none;
  min-width: 6rem;
  max-width: 20rem;
  background-color: transparent;
  border-block-end-style: solid;
  border-block-end-width: 0.125rem;
  border-block-end-color: var(--color-foreground-accent-20);

  &[aria-selected="true"] {
    button {
      color: var(--color-background-accent-90);
    }

    box-shadow: inset 0rem -0.75rem 0.75rem 0.25rem var(--color-foreground-accent-60),
    inset 0rem 1rem 2rem 0.125rem var(--color-foreground-accent-50),
    0rem 0.5rem 0.5rem 0.25rem var(--color-foreground-accent-50);
    background-color: var(--color-foreground-accent-40);
    border-block-end-color: var(--color-background-accent-20);
    border-end-end-radius: calc(var(--border-radius-pill) / 3);
    border-end-start-radius: calc(var(--border-radius-pill) / 3);
  }

  button {
    position: relative;
    font-size: large;

    &:not([data-icon-button]) {
      color: var(--color-background-accent-70);
      text-wrap: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-block: 0.5rem;
      flex-grow: 1;
      text-align: center;
    }
  }
}