.wrapper {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  border: none;
  min-width: 6rem;
  max-width: 20rem;
  background-color: transparent;

  &:has([aria-selected="true"]) {
    background-color: var(--color-foreground-accent-40);
  }

  [data-tabs-position="bottom"] & {
    border-end-end-radius: calc(var(--border-radius-pill) / 3);
    border-end-start-radius: calc(var(--border-radius-pill) / 3);

    &:has([aria-selected="true"]) {
      border-block-end-style: solid;
      border-block-end-width: 0.125rem;
      border-block-end-color: var(--color-background-accent-20);
    }
  }

  [data-tabs-position="top"] & {
    border-start-start-radius: calc(var(--border-radius-pill) / 3);
    border-start-end-radius: calc(var(--border-radius-pill) / 3);

    &:has([aria-selected="true"]) {
      border-block-start-style: solid;
      border-block-start-width: 0.125rem;
      border-block-start-color: var(--color-foreground-accent-20);
    }

    &:not(:has([aria-selected="true"])) {
      &:has(:hover) {
        background-color: var(--color-foreground-accent-20)
      }
    }

    button {

      &:active,
      &:focus {
        background-color: transparent;
      }
    }
  }

  button {
    -webkit-app-region: no-drag;
    area-region: no-drag;
    position: relative;
    font-size: large;
    color: var(--color-foreground-contrast-background-accent);

    &:not([data-icon-button]) {
      text-wrap: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-block: 0.5rem;
      flex-grow: 1;
      text-align: center;
    }
  }
}

[data-window-controls-overlay="hidden"] {
  [data-tabs-position="top"] {
    .wrapper {
      margin-block-start: 0.25rem;
    }
  }
}