.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  padding-inline: 0.5rem;
  margin: 0;
  gap: 0.5rem;
  background-color: var(--color-foreground-accent-20);
}

[data-tabs-position="top"] {
  .wrapper {
    padding-block-start: 3rem;
    padding-block-end: 0;
    border-block-end-style: solid;
    border-block-end-width: 0.125rem;
    border-block-end-color: var(--color-foreground-accent-40);
    height: 6rem;
  }
}

[data-tabs-position="bottom"] {
  .wrapper {
    padding-block-start: 0;
    padding-block-end: 0.5rem;
    box-shadow: inset 0 0.25rem 0.5rem 0 var(--color-foreground-accent-60);
    border-block-start-style: solid;
    border-block-start-width: 0.125rem;
    border-block-start-color: var(--color-foreground-accent-40);
  }
}

[data-window-controls-overlay="visible"] {
  [data-tabs-position="top"] {
    .wrapper {
      -webkit-app-region: drag;
      area-region: drag;
      background-color: var(--color-foreground-accent);
    }
  }
}