.wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: stretch;
  width: 100%;
  height: 100%;

  &[data-tabs-position="top"] {
    flex-direction: column;
  }

  .panels {
    flex-grow: 1;
    position: relative;
    width: 100%;
    height: 100%;

    [role="tabpanel"] {
      position: relative;
      width: 100%;
      height: 100%;

      &[hidden] {
        display: none;
      }
    }
  }
}