.wrapper {
  display: block;
  position: absolute;
  background-color: var(--color-background-accent-20);
  color: var(--color-foreground-contrast-background-accent-20);

  .content {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100%;
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-color: var(--color-background-accent) var(--color-background-accent-30);
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--color-background-accent-10);
    outline-width: 0;
    outline-style: solid;
    outline-color: var(--color-background-accent);
  }

  .overlay {
    display: none;
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-default-background-opacity-10);
  }

  &[data-resizable="true"] {
    &[data-orientation="block"] {
      &::after {
        cursor: ns-resize;
      }
    }

    &[data-orientation="inline"] {
      &::after {
        cursor: ew-resize;
      }
    }
  }

  &[data-dragging="true"] {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .overlay {
      display: block;
    }

    &::after {
      background-color: var(--color-background-accent);
    }

    &[data-orientation="block"] {
      &::after {
        outline-width: 0.25rem;
      }
    }

    &[data-orientation="inline"] {
      &::after {
        outline-width: 0.25rem;
      }
    }
  }

  &[data-orientation="block"] {
    width: 100%;
    inset-inline-start: 0;

    &[data-size="xs"] {
      height: 5rem;
    }

    &[data-size="sm"] {
      height: 10rem;
    }

    &[data-size="md"] {
      height: 20rem;
    }

    &[data-size="lg"] {
      height: 40rem;
    }

    &[data-size="xl"] {
      height: 50rem;
    }

    &::after {
      width: 100%;
      height: 0.25rem;
      inset-inline-start: 0;
    }

    &[data-position="end"] {
      inset-block-end: 0;

      &::after {
        inset-block-start: 0;
      }
    }

    &[data-position="start"] {
      inset-block-start: 0;

      &::after {
        inset-block-end: 0;
      }
    }
  }

  &[data-orientation="inline"] {
    height: 100%;
    inset-block-start: 0;

    &[data-size="xs"] {
      width: 5rem;
    }

    &[data-size="sm"] {
      width: 10rem;
    }

    &[data-size="md"] {
      width: 20rem;
    }

    &[data-size="lg"] {
      width: 40rem;
    }

    &[data-size="xl"] {
      width: 50rem;
    }

    &::after {
      inset-block-start: 0;
      height: 100%;
      width: 0.25rem;
    }

    &[data-position="end"] {
      inset-inline-end: 0;

      &::after {
        inset-inline-start: 0;
      }
    }

    &[data-position="start"] {
      inset-inline-start: 0;

      &::after {
        inset-inline-end: 0;
      }
    }
  }
}