.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-foreground-contrast-background-accent);

  .title {
    margin-inline-end: 0.5rem;
    font-size: 0.85rem;
    padding: 0;
    font-weight: normal;
    opacity: .5;
    transition-property: opacity;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5s;
  }

  &:hover,
  &:has(:focus-within) {
    .title {
      transition-delay: 0s;
      opacity: 1;
    }
  }
}