.wrapper {
  max-height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--color-background-accent-10);
  border-block-end-style: solid;
  border-block-end-width: 0.125rem;
  border-block-end-color: var(--color-background-accent);

  &:first-child {
    flex-grow: 1;
  }

  .toolbar {
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    &>:not(:last-child) {
      padding-inline-end: 0.5rem;
      margin-inline-end: 0.5rem;
      border-inline-end-style: solid;
      border-inline-end-width: 0.0625rem;
      border-inline-end-color: var(--color-background-accent);
    }

    button {
      svg[data-icon] {
        color: var(--color-foreground-contrast-background-accent-10);
      }
    }
  }
}