.wrapper {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  position: relative;

  span {
    margin: 0.3rem 0;
    display: block;
    background-color: var(--color-text-primary);
    height: 0.25rem;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }

  &:focus,
  &:active {
    background-color: var(--color-divider);
    padding: 0.25rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    margin-inline: -0.25rem;
  }

  &:hover,
  &:focus,
  &:active {
    span {
      height: 0.3rem;
      margin: 0.25rem 0;
    }
  }

  &[aria-checked="true"] {
    span {
      margin: 0
    }

    span:not(:first-child):not(:last-child) {
      opacity: 0;
      height: 0;
    }

    span:first-child {
      transform: rotate(45deg);
      margin-block-start: 0.25rem;
      margin-block-end: -0.25rem;
    }

    span:last-child {
      transform: rotate(-45deg);
      margin-block-start: -0.25rem;
      margin-block-end: 0.25rem;
    }
  }
}