.wrapper {
  inset-inline-start: 0;
  inset-block-start: 0;
  position: fixed;
  height: 2.5rem;
  width: 100%;
  transition: inset-inline-start 0.25s 0.25s, inset-block-start 0.25s 0.25s, width 0.25s 0.25s, height 0.25s 0.25s, box-shadow 0.25s 0s;

  .bar {
    position: absolute;
    width: 100%;
    box-shadow: var(--color-default-foreground-opacity-20) 0 0.5rem 1.5rem;
    background-color: var(--color-background-accent);
    color: var(--color-foreground-contrast-background-accent);
    border-block-end-style: solid;
    border-block-end-color: var(--color-default-foreground-opacity-30);
    border-block-end-width: 0.00625rem;
    padding-inline: 1rem;
    display: flex;
    justify-content: stretch;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    inset-inline-start: 0;
    inset-block-start: 0;
    height: 100%;
    transition-property: inset-inline-start, inset-block-start, width, height, padding, box-shadow, border-radius;
    transition-duration: 0.25s;

    h1 {
      font-size: 1rem;
      padding: 0;
      margin: 0;
    }

    .ibs,
    .ibe {
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      padding: 0;
      margin: 0;
      height: 100%;
    }

    .ibs {
      justify-content: flex-start;
    }

    .ibe {
      justify-content: flex-end;
    }
  }
}

[data-window-controls-overlay="visible"] {
  .wrapper {
    -webkit-app-region: drag;
    area-region: drag;
    inset-inline-start: -1rem;
    inset-block-start: 0;
    width: calc(100% + 2rem);

    height: env(titlebar-area-height, 5rem);

    transition: inset-inline-start 0.25s,
      inset-block-start 0.25s,
      width 0.25s,
      height 0.25s,
      box-shadow 0.25s 0.25s;

    &[data-tabs-position="bottom"] {
      box-shadow: 0 0.25rem 0.75rem var(--color-foreground-accent-60);
    }

    .bar {
      width: env(titlebar-area-width, 100%);
      inset-inline-start: calc(env(titlebar-area-x, 0) + 1rem);
      inset-block-start: env(titlebar-area-y, 0);
      height: 100%;
      box-shadow: none;
      border-radius: 0;
      border: none;
      position: relative;

      h1 {
        font-size: 0.75rem;

        small {
          display: none;
        }
      }

      button {
        width: 1rem;
        -webkit-app-region: no-drag;
        area-region: no-drag;
      }
    }
  }
}