.wrapper {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  background-color: transparent;

  &[data-direction="horizontal"] ul {
    flex-direction: row;
  }

  &[data-direction="vertical"] ul {
    flex-direction: column;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    background-color: transparent;
    display: flex;
    gap: 0.5rem;
  }
}