.app-region-drag {
  -webkit-app-region: drag;
  app-region: drag;

  button, a, input, select {
    -webkit-app-region: no-drag;
    app-region: no-drag;
  }
}

.titlebar-area-height {
  @apply: h-10;
}

.titlebar-area-width {
  @apply: w-full;
}

.inset-titlebar-area-x {
  @apply: inset-inline-start-0;
}

.inset-titlebar-area-y {
  @apply: inset-block-start-0;
}

.p-t-titlebar-area-y {
  @apply: p-t-10;
}

@media (display-mode: window-controls-overlay) {
  .titlebar-area-height {
    height: env(titlebar-area-height);
  }

  .titlebar-area-width {
    width: env(titlebar-area-width);
  }

  .inset-titlebar-area-x {
    inset-inline-start: env(titlebar-area-x);
  }

  .inset-titlebar-area-y {
    inset-block-start: env(titlebar-area-y);
  }

  .p-t-titlebar-area-y {
    padding-top: env(titlebar-area-height);
  }
}