html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-background-accent-40);
  color: var(--color-foreground-contrast-background-accent-40);
}

svg[data-icon] {
  color: inherit;
}