svg[data-icon] {
  &[data-type="Mesh"] {
    color: color-mix(in srgb, var(--color-reference-default-background) 50%, #22AAFF);
  }

  &[data-type="TransformNode"] {
    color: color-mix(in srgb, var(--color-reference-default-background) 50%, #FFAA22);
  }

  &[data-type="Light"] {
    color: color-mix(in srgb, var(--color-reference-default-background) 50%, #FFFF22);
  }

  &[data-type="HemisphericLight"] {
    color: color-mix(in srgb, var(--color-reference-default-background) 25%, #FFFF22);
  }

  &[data-type="Camera"] {
    color: color-mix(in srgb, var(--color-reference-default-background) 50%, #AA22AA);
  }

  &[data-type="ArcRotateCamera"] {
    color: color-mix(in srgb, var(--color-reference-default-background) 25%, #AA22AA);
  }
}