.wrapper {
  display: block;
  list-style-type: none;
  padding-inline-start: 1.25rem;
  margin: 0;

  &>.node {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    flex-wrap: nowrap;

    &:focus-within {
      background-color: var(--color-default-background-opacity-20);
    }

    .tools {
      flex-grow: 0;
      flex-shrink: 1;
    }

    svg[data-icon] {
      width: 0.75rem;
      height: 0.75rem;
      padding: 0.25rem;
      margin: 0;
    }

    &>button {
      &:not([data-icon-button="true"]) {
        flex-grow: 1;
        text-align: start;
      }

      &[data-icon-button="true"] {
        flex-shrink: 1;
        padding: 0;
        margin: 0;

        &>svg[data-icon="chevron-down"] {
          opacity: 0.5;
          margin-inline-start: -1.25rem;
        }
      }

      &:focus,
      &:hover,
      &:active {
        background-color: transparent;
      }
    }
  }

  &[data-open="true"] {
    &>.node {
      &>button[data-icon-button="true"] {
        &>svg[data-icon="chevron-down"] {
          transform: rotate(0.75turn);
        }
      }
    }
  }
}