.wrapper {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;

  details {
    padding-inline-start: 1.5rem;

    &>summary {
      list-style-type: disclosure-closed;
      list-style-position: outside;
      padding: 0;
      margin: 0;
      cursor: pointer;

      &:hover {
        color: var(--color-foreground-accent);
      }
    }

    &[open] {
      &>summary {
        list-style-type: disclosure-open;
      }
    }
  }
}