.wrapper {
  display: block;
  background-color: var(--color-background-accent-50);
  border-radius: var(--border-radius-pill);
  width: 100%;

  .title {
    display: block;
    font-size: 0.75rem;
    padding-block: 0.5rem;
    padding-inline: 2rem;
  }

  .content {
    display: block;
    width: 100%;
    margin-block-end: 2rem;
  }
}