.wrapper {
  display: block;
  width: 100%;
  padding-block-end: 100%;
  position: relative;

  &:hover {

    .front,
    .back {
      width: 80%;
      inset-inline-start: 3%;
      inset-block-start: 5%;
    }

    .front {
      height: 55%;
      transform: skewX(-35deg) translateX(45%) translateY(45.5%);
      -webkit-transform: skewX(-35deg) translateX(45%) translateY(45.5%);
    }

    .back {
      height: 70%;

      &::after {
        width: 50%;
        height: 50%;
        inset-inline-end: 20%;
        inset-block-end: 80%;
        background-color: var(--color-background-accent);
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
    }
  }
}

.front,
.back {
  position: absolute;
  display: block;
  inset-inline-start: 6%;
  inset-block-start: 10%;
  border-style: solid;
  border-width: 0.125rem;
  border-color: var(--color-text-primary);
  border-radius: 15%;
  transition-property: width, height, inset-inline-start, inset-block-start, transform;
  transition-duration: 0.25s;
}

.front {
  width: 75%;
  height: 50%;
  transform: skewX(-25deg) translateX(30%) translateY(50%);
  -webkit-transform: skewX(-25deg) translateX(30%) translateY(50%);
  background-color: var(--color-text-primary);

  &::after {
    content: "";
    position: absolute;
    width: 65%;
    height: 50%;
    background-color: inherit;
    inset-inline-start: -1.5%;
    inset-block-start: -15%;
    border-start-start-radius: 15%;
    border-start-end-radius: 15%;
  }
}

.back {
  width: 75%;
  height: 65%;
  transform: translateY(15%);
  -webkit-transform: translateY(15%);

  &::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 40%;
    border-radius: 25%;
    background-color: var(--color-text-primary);
    inset-inline-end: 0;
    inset-block-end: 0;
    transition-property: background-color, inset-inline-end, inset-block-end, width, height, transform;
    transition-duration: 0.25s;
  }
}