.wrapper {
  display: inline-block;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-foreground-contrast-background-accent);
  width: calc(100% - 1rem);
  width: -webkit-fill-available;
  height: 100%;
  vertical-align: middle;
  text-align: initial;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &[data-editable="true"] {
    cursor: pointer;
  }
}