.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-wrap: nowrap;
  border-block-end-style: solid;
  border-block-end-width: 0.0625rem;
  border-block-end-color: var(--color-accent-opacity-20);
  cursor: default;

  &:focus-within {
    background-color: var(--color-background-accent-40);
  }

  &:hover {
    background-color: var(--color-background-accent-20);
  }

  .actions {
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    svg {
      color: var(--color-foreground-contrast-background-accent-20);
    }
  }
}