.wrapper {
  position: absolute;
  inset-block-start: 2rem;
  inset-inline-start: 2rem;
  border-inline-end: solid 1px var(--color-default-foreground-opacity-80);
  background-color: var(--color-reference);
  color: var(--color-foreground-contrast-background-accent);
  overflow: hidden;
  padding-block-start: 5rem;
  padding-inline: 0;
  padding-block-end: 0;
  height: calc(100vh - 5rem);
  max-height: calc(100vh - 5rem);
  border-radius: var(--border-radius-pill);
  opacity: 1;
  transition-duration: 0.25s;

  [data-window-controls-overlay="hidden"] & {
    transition-property: max-height, opacity;
  }

  [data-window-controls-overlay="visible"] & {
    inset-block-start: 0;
    inset-inline-start: 0;
    padding-block-start: 3rem;
    border-radius: 0;
    height: 100vh;
    max-height: 100vh;
    position: fixed;
    box-shadow: 0 0.25rem 0.75rem var(--color-foreground-accent-60);
    transition-property: max-width, opacity;
  }

  .content {
    display: block;
    overflow: auto;
    padding: 1rem;
  }

  &[aria-hidden="true"] .content {
    display: none;
  }

  &[data-size][aria-hidden="true"] {
    pointer-events: none;
    opacity: 0;
    border: none;
    padding-block-start: 0;
  }

  [data-window-controls-overlay="visible"] &[data-size][aria-hidden="true"] {
    max-width: 0 !important;
  }

  [data-window-controls-overlay="hidden"] &[data-size][aria-hidden="true"] {
    max-height: 0 !important;
  }

  &[data-size="xs"] {
    width: 15vw;
  }

  &[data-size="sm"] {
    width: 25vw;
  }

  &[data-size="m"] {
    width: 35vw;
  }

  &[data-size="l"] {
    width: 50vw;
  }

  &[data-size="xl"] {
    max-width: 75vw;
  }

  [data-window-controls-overlay="visible"] &[data-size="xs"] {
    max-width: 15vw;
  }

  [data-window-controls-overlay="visible"] &[data-size="sm"] {
    max-width: 25vw;
  }

  [data-window-controls-overlay="visible"] &[data-size="m"] {
    max-width: 35vw;
  }

  [data-window-controls-overlay="visible"] &[data-size="l"] {
    max-width: 50vw;
  }

  [data-window-controls-overlay="visible"] &[data-size="xl"] {
    max-width: 75vw;
  }

}