<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="rgb(150, 30, 120)" />
    <link
      rel="manifest"
      href="./app.webmanifest"
      crossorigin="use-credentials"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./icons/favicon-16x16.png"
    />
    <link rel="icon" type="image/x-icon" href="./icons/favicon.ico" />
    <title>SceneForge</title>
  </head>
  <body></body>
</html>
