.wrapper {
  padding-block-start: 3rem;
  padding-inline: 3rem;
  transition-property: padding-block-start, padding-inline;
  transition-duration: 0.25s;

  [data-tabs-position="top"] & {
    padding-block-start: 2rem;
  }

  [data-window-controls-overlay="visible"] & {
    padding-block-start: 3rem;
    padding-inline: 1rem;
  }
}

[data-window-controls-overlay="visible"] {
  [data-tabs-position="top"] {
    .wrapper {
      padding-block-start: 1.5rem;
    }
  }
}