.wrapper {
  padding-block-start: 8rem;
  padding-inline: 3rem;
  transition-property: padding-block-start, padding-inline;
  transition-duration: 0.25s;

  [data-window-controls-overlay="visible"] & {
    padding-block-start: 3rem;
    padding-inline: 1rem;
  }
}