.wrapper {
  &[data-icon-button] {
    background-color: transparent;

    &[data-variant="default"] {
      svg[data-icon] {
        color: var(--color-foreground-primary);
      }
    }

    &[data-variant="accent"] {
      svg[data-icon] {
        color: var(--color-foreground-accent);
      }
    }

    &[data-variant="danger"] {
      svg[data-icon] {
        color: var(--color-foreground-danger);
      }
    }

    &[data-variant="warning"] {
      svg[data-icon] {
        color: var(--color-foreground-warning);
      }
    }

    &[data-variant="success"] {
      svg[data-icon] {
        color: var(--color-foreground-success);
      }
    }

    &[data-variant="info"] {
      svg[data-icon] {
        color: var(--color-foreground-info);
      }
    }

    &[data-variant="inverted"] {
      svg[data-icon] {
        color: var(--color-reference-default-background);
      }
    }
  }
}